<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head"></div>
</head>
<body>

<!--navigation-->
<div th:include="fragments/navigation"></div>

<!--welcome-->
<div class="contact" id="contact">
    <div class="container">
        <h3 class="title wow fadeInDown animated" data-wow-delay=".5s">My Hotel Rooms</h3>
        <h3 class="right wow fadeInDown animated" data-wow-delay=".5s">
            <a th:href="@{/hotel/rooms/create}">Create New</a>
        </h3>
        <div class="contact-form contact-list">
            <p class="wow slideInDown animated" data-wow-delay=".5s">
                <b th:if="${param.message!=null}">
                    => <span style="color: red;" th:text="${param.message[0]}"></span>
                </b>
            </p>

            <div class="panel row panel-default">
                <!--<div class="panel-heading">Filter</div>-->
                <div class="panel-heading col-sm-3">
                    <form class="form" th:action="@{/hotel/rooms}" id="dateFilterForm" method="get">
                        <input name="filterType" type="hidden" th:value="date"></input>
                        <input class="form-control" name="value" type="date" id="dateFilter"
                               th:value="${filterValue}"></input>
                    </form>
                </div>
                <div class="panel-heading col-sm-5">
                    <form class="form" th:action="@{/hotel/rooms/search}" method="get">
                        <input class="form-control" name="q" type="text" placeholder="Search"></input>
                    </form>
                </div>
                <div class="panel-heading col-sm-3">
                    <form class="form" th:action="@{/hotel/rooms}" id="catFilterForm" method="get">
                        <input name="filterType" type="hidden" th:value="category"></input>
                        <select class="form-control" name="value" id="categoryFilter">
                            <option th:each="category: ${categoryList}" th:text="${category?.name}"
                                    th:selected="${filterValue?.equals(category?.name)}"></option>
                        </select>
                    </form>
                </div>
            </div>


            <div class="row">
                <div class="panel col-sm-3" th:each="room : ${roomList}"
                     th:classappend="${bookedIds?.contains(room?.id)} ? panel-danger : panel-primary">
                    <div class="panel-heading" th:text="${room?.category?.name}">Panel Header</div>
                    <div class="panel-body" th:text="${room?.roomNumber}">Panel Content</div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--footer-->
<div th:include="fragments/footer"></div>
<!--//footer-->
<script th:src="@{/js/lightbox-plus-jquery.min.js}"></script>
<script th:src="@{/js/easyResponsiveTabs.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
<!--script-->
<!--responsive slider-->
<script th:src="@{/js/responsiveslides.min.js}"></script>
<!--//responsive slider-->
<!-- start-smooth-scrolling-->
<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.js}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!--//end-smooth-scrolling-->
<!--bar-js-->
<script th:src="@{/js/bars.js}"></script>
<!--bar-js-->
<!--animate-->
<script th:src="@{/js/wow.min.js}"></script>
<script>
    new WOW().init();
</script>
<!--//end-animate-->
<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
    $(document).ready(function () {

        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!--//smooth-scrolling-of-move-up-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.js}"></script>

<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 3
        $("#slider3").responsiveSlides({
            auto: true,
            pager: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>


<script>
    $("#dateFilter").on("change", function (form) {
        $("#dateFilterForm").submit();
    });
    $("#categoryFilter").on("change", function (form) {
        $("#catFilterForm").submit();
    });

</script>
</body>
</html>