

<section class="content">


    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Todays Bookings (Order placed today)</h3><br/>
                    <h4 class="box-title">Date: <span th:text="${todaysDate}"></span></h4>
                </div>

                <table class="table table-bordered">
                    <tr>
                        <th>Sl</th>
                        <th>Room No</th>
                        <th>Category</th>
                        <th>Booking Dates</th>
                        <th>Total Order</th>
                        <th>Room Rent</th>
                    </tr>
                    <tr th:if="${todaysPlacedRoomList != null}" th:each="room,iter : ${todaysPlacedRoomList}">
                        <td th:text="${iter.index+1}"></td>
                        <td>
                            <!--<a th:href="@{/rooms/}+${room?.id}">-->
                            <h5 th:text="${room?.roomNumber}"></h5>
                            <!--</a>-->
                        </td>
                        <td th:text="${room?.category?.name}"></td>
                        <td th:text="${room?.getBookingDatesString(true)}"></td>
                        <td th:text="${todaysPlacedRoomListSize}"></td>
                        <td th:text="${room?.getDiscountedPrice(todaysDate)}"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td th:text="${bookingHelper?.getTotalDiscountedPrice(todaysPlacedRoomList,todaysDate)*todaysPlacedRoomListSize}"></td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

        <div class="col-sm-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Todays Sales (Todays Booked Rooms)</h3><br/>
                    <h4 class="box-title">Date: <span th:text="${todaysDate}"></span></h4>
                </div>

                <table class="table table-bordered">
                    <tr>
                        <th>Sl</th>
                        <th>Room No</th>
                        <th>Category</th>
                        <th>Room Rent</th>

                    </tr>
                    <tr th:if="${bookedRoomList != null}" th:each="room,iter : ${bookedRoomList}">
                        <td th:text="${iter.index+1}"></td>
                        <td>
                            <!--<a th:href="@{/rooms/}+${room?.id}">-->
                            <h5 th:text="${room?.roomNumber}"></h5>
                            <!--</a>-->
                        </td>
                        <td th:text="${room?.category?.name}"></td>
                        <td th:text="${room?.getDiscountedPrice(todaysDate)}"></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td th:text="${bookingHelper?.getTotalDiscountedPrice(bookedRoomList,todaysDate)}"></td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->

        </div>

    </div>



    <div class="row" sec:authorize="!hasRole('ROLE_HOTEL_ADMIN')">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">My Bookings</h3>
            </div>

            <table class="table table-bordered">
                <tr>
                    <th>Sl</th>
                    <th>Hotel Name</th>
                    <!--<th>Total Rooms</th>-->
                    <th>Room Rent</th>
                    <th>You Saved</th>
                    <th>Placed On</th>
                </tr>
                <tr th:if="${bookingList != null}" th:each="booking,iter : ${bookingList}">
                    <td th:text="${iter.index+1}"></td>
                    <td>
                        <a th:href="@{/bookings/}+${booking?.id}">
                        <h5 th:text="${booking?.hotel?.name}"></h5>
                        </a>
                    </td>
                    <td th:text="${booking?.getTotalPayableCost()}"></td>
                    <td><span class="badge bg-green" th:text="${booking?.getTotalDiscountPercentage()}">90%</span></td>
                    <td th:text="${booking?.getReadableDateTime(booking?.getTime())}"><h4></h4></td>
                    <td>
                        <a th:href="@{/bookings/}+${booking?.id}" class="btn btn-primary">Details</a>
                        <a class="btn btn-success" th:href="@{/reviews/hotel/}+${booking?.hotel?.id}+@{/create}">Write a
                            review</a>
                        <a class="btn btn-info" th:href="@{/invoices/generate/}+${booking?.id}">Generate Invoice</a>
                    </td>

                </tr>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
    </div>

</section>
