<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">

    <section class="content-header">
        <h1>
            <span>Offers</span>
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a th:href="@{/offers}">Offers</a></li>
            <li><a th:href="@{/offers/}+${offer?.id}">Details</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-sm-8">
                <div class="box">
                    <div class="box-header">
                        <h2 th:text="${offer?.title}" class="title"></h2>
                        <h5 th:if="${offer?.date != null}" style="margin-top: 10px;" class="pull-right">
                            <strong>Last Date of Booking: </strong><br/>
                            <span th:text="${offer?.getReadableDate(offer?.date)}"></span>
                        </h5>
                        <h4 th:text="${offer?.shortTag}" style="color: grey; margin-top: 10px;"></h4>
                        <h5 th:if="${offer?.location != null and !offer?.location?.empty}" style="margin-top: 10px;">
                            <strong>Location: </strong>
                            <span th:text="${offer?.location}"></span>
                        </h5>
                        <h5 th:if="${offer?.price != null}" style="margin-top: 10px;">
                            <strong>Price: </strong>
                            ৳<span th:text="${offer?.price}"></span>
                        </h5>
                        <h5 th:if="${offer?.duration != null and !offer?.duration?.empty }" style="margin-top: 10px;">
                            <strong>Duration/Validity: </strong>
                            <span th:text="${offer?.duration}"></span>
                        </h5>


                    </div>
                    <div class="box-body">
                        <img th:src="@{/offers/image/}+${offer?.id}" th:alt="${offer?.title}" class="img-responsive"
                             style="height: 300px; margin-right: 20px;margin-bottom: 20px;">
                        <h5 th:if="${offer?.timeDistribution != null and !offer?.timeDistribution?.empty}" style="margin-top: 10px;">
                            <strong>Time Distribution</strong><br/>
                            <span th:text="${offer?.timeDistribution}"></span>
                        </h5>
                        <h5 th:if="${offer?.include != null and !offer?.include?.empty}" style="margin-top: 10px;">
                            <strong>This Offer includes</strong><br/>
                            <span th:text="${offer?.include}"></span>
                        </h5>

                        <h5 th:if="${offer?.exclude != null and !offer?.exclude?.empty}" style="margin-top: 10px;">
                            <strong>This Offer doesn't includes</strong><br/>
                            <span th:text="${offer?.exclude}"></span>
                        </h5>


                        <p th:text="${offer?.description}" style="margin-top: 15px;"></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="box box-widget widget-user" th:each="p: ${offerList}">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-black"
                         th:style="'background:url(' + @{/offers/image/}+${p?.id} + ') center center;'">
                        <h3 class="widget-user-username" th:text="${p?.title}"
                            style="color: #000; font-family: 'Arial Rounded MT Bold'"></h3>
                        <h5 class="widget-user-desc" th:text="${p?.location}" style="color: #000;"></h5>

                        <div class="col-sm-12">
                            <a class="btn btn-primary pull-right" th:href="@{/offers/}+${p?.id}">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">-->
        <!--<div class="col-sm-8 col-sm-offset-2">-->
        <!--<h2 th:text="${offer?.title}" class="title"></h2>-->
        <!--<h4>-->
        <!--<span>Location: </span>-->
        <!--<span th:text="${offer?.location}"></span>-->
        <!--</h4>-->
        <!--<hr/>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="col-sm-8 col-sm-offset-2">-->
        <!--<img th:src="@{/offers/image/}+${offer?.id}" th:alt="${offer?.title}" class="img-responsive pull-left"-->
        <!--style="width: 200px; margin-right: 20px;margin-bottom: 20px;">-->
        <!--<p th:text="${offer?.description}"></p>-->
        <!--</div>-->
        <!--</div>-->

    </section>

</div>