<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head"></div>
</head>
<body>

<!--navigation-->
<div th:include="fragments/navigation"></div>

<!--welcome-->
<div class="contact" id="contact">
    <div class="container">
        <h3 class="title wow fadeInDown animated" data-wow-delay=".5s">All Users</h3>
        <!--<h3 class="right wow fadeInDown animated" data-wow-delay=".5s">-->
        <!--<a th:href="@{/admin/users/create}">Create New</a>-->
        <!--</h3>-->
        <div class="contact-form contact-list">
            <p class="wow slideInDown animated" data-wow-delay=".5s">
                <b th:if="${param.message!=null}">
                    => <span style="color: red;" th:text="${param.message[0]}"></span>
                </b>
            </p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <!--<td><b>Image</b></td>-->
                    <td><h3 class="thead">Name</h3></td>
                    <td><h3 class="thead">Email</h3></td>
                    <td><h3 class="thead">Address</h3></td>
                    <td><h3 class="thead">Created</h3></td>
                    <td><h3 class="thead">Last Updated</h3></td>
                    <td><h3 class="thead">Action</h3></td>
                    <td><h3 class="thead">Edit</h3></td>
                    <td><h3 class="thead">Delete</h3></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${userList}">
                    <!--<td>-->
                    <!--<img class="img-circle" height="40" width="60"-->
                    <!--th:src="@{/admin/users/images/}+${user?.id}"></img>-->
                    <!--</td>-->
                    <td><h4 th:text="${user?.name}"></h4></td>
                    <td><h4 th:text="${user?.email}"></h4></td>
                    <td><h4 th:text="${user?.address?.getCommaSeperatedString()}"></h4></td>
                    <td><h4 th:text="${user?.getReadableDate(user?.getCreated())}"></h4></td>
                    <td><h4 th:text="${user?.getReadableDate(user?.getLastUpdated())}"></h4></td>
                    <td>
                        <form th:action="@{/admin/users/}+${user?.getId()}+@{/action(enabled=${!user?.isEnabled()})}"
                              method="post">
                            <button class="btn btn-primary" th:disabled="${user?.hasAssignedRole('ROLE_ADMIN')}"
                                    th:text="${user?.isEnabled()}? 'Disable' : 'Enable'"></button>
                        </form>
                    </td>
                    <td><a class="btn btn-warning" th:href="@{/admin/users/edit/}+${user?.id}">Edit</a></td>
                    <td>
                        <form th:action="@{/admin/users/delete/}+${user?.id}"
                              onsubmit="return confirm('Do you really want to delete this user?');" method="post">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--footer-->
<div th:include="fragments/footer"></div>
<!--//footer-->
<script th:src="@{/js/lightbox-plus-jquery.min.js}"></script>
<script th:src="@{/js/easyResponsiveTabs.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
<!--script-->
<!--responsive slider-->
<script th:src="@{/js/responsiveslides.min.js}"></script>
<!--//responsive slider-->
<!-- start-smooth-scrolling-->
<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.js}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!--//end-smooth-scrolling-->
<!--bar-js-->
<script th:src="@{/js/bars.js}"></script>
<!--bar-js-->
<!--animate-->
<script th:src="@{/js/wow.min.js}"></script>
<script>
    new WOW().init();
</script>
<!--//end-animate-->
<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
    $(document).ready(function () {

        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!--//smooth-scrolling-of-move-up-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.js}"></script>

<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 3
        $("#slider3").responsiveSlides({
            auto: true,
            pager: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
</body>
</html>