<div class="banner">

    <!--navigation-->
    <div th:include="fragments/navigation"></div>
    <!--//navigation-->

    <div class="banner-text">
        <!--banner Slider starts Here-->

        <!--//End-slider-script-->
        <div  id="top" class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="banner-text-info">
                        <h2 class="bnr-title wow zoomIn animated" data-wow-delay=".5s">WHAT A WONDERFUL WORLD </h2>
                        <p class="wow fadeInDown animated" data-wow-delay=".7s">Lorem Ipsum was popularised In sit amet sapien eros Integer dolore magna aliqua Temporibus autem quibusdam</p>
                        <div class="more">
                            <a href="#about" class="button-tamaya scroll" data-text="More About"><span>More About</span></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-text-info">
                        <h3 class="bnr-title">AMAZING HOLLYWOOD NIGHTS</h3>
                        <p>In sit amet sapien eros Integer dolore magna aliqua Temporibus lorem lpsum was popularised autem quibusdam</p>
                        <div class="more">
                            <a href="#about" class="button-tamaya scroll" data-text="More About"><span>More About</span></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-text-info">
                        <h3 class="bnr-title">MAGICAL MYSTERY TOUR</h3>
                        <p>Temporibus autem quibusdam Lorem Ipsum was popularised In sit amet sapien eros Integer dolore magna aliqua </p>
                        <div class="more">
                            <a href="#about" class="button-tamaya scroll" data-text="More About"><span>More About</span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>