<!--contact -->
<div class="contact" id="contact">
    <div class="container">
        <h3 class="title wow fadeInDown animated" data-wow-delay=".5s">Contact Us</h3>
        <div class="contact-form">
            <p class="wow slideInDown animated" data-wow-delay=".5s">Sed ut turpis elit ullamcorper in auctor non,
                accumsan vel lacus nulla auctor cursus nunc. Maecenas ultricies dolor in urna tempus, id egestas erat
                finibus interdum lectus eget scelerisque.</p>
            <form>
                <div class="col-md-6 form-left wow fadeInDown animated" data-wow-delay=".5s">
                    <input type="text" placeholder="Name" required=""></input>
                </div>
                <div class="col-md-6 form-right wow fadeInDown animated" data-wow-delay=".5s">
                    <input class="email" type="text" placeholder="Email" required=""></input>
                </div>
                <div class="clearfix"></div>
                <input class="wow fadeInDown animated" data-wow-delay=".7s" type="text" placeholder="Phone"
                       required=""></input>
                <textarea class="wow fadeInDown animated" data-wow-delay=".9s" placeholder="Message"
                          required=""></textarea>
                <input type="submit" value="SUBMIT"></input>
            </form>
        </div>
    </div>
</div>
<!--//contact -->