<div class="footer">
    <div class="container">
        <h3 class="wow zoomIn animated" data-wow-delay=".5s"><a href="index.html">Vacation</a></h3>
        <p class="wow fadeInUp animated" data-wow-delay=".7s">© 2016 Vacation. All rights reserved | Design by <a
                href="http://w3layouts.com">W3layouts</a></p>
        <div class="social-icons wow fadeInUp animated" data-wow-delay=".9s">
            <ul>
                <li><a href="#"> </a></li>
                <li><a href="#" class="fb"> </a></li>
                <li><a href="#" class="in"> </a></li>
                <li><a href="#" class="dott"> </a></li>
            </ul>
        </div>
    </div>
</div>