<head>
    <title>Intelligent Tourist Aid</title>
    <!--mobile apps-->
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" ></meta>
    <meta name="keywords" content="Vacation Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" ></meta>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--mobile apps-->
    <!--Custom Theme files -->
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet" media="all"></link>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="all"></link>
    <link rel="stylesheet" th:href="@{/css/lightbox.css}"></link>
    <link th:href="@{/css/animate.css}" rel="stylesheet" type="text/css" media="all"></link>
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="@{/js/jquery-1.11.1.min.js}"></script>
    <!-- //js -->
    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'></link>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'></link>
    <!--//web-fonts-->
</head>