<div class="address wow fadeInDown animated" data-wow-delay=".5s" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Filter</h2>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
            <table class="table table-hover table-striped panel panel-primary">
                <!--<li><i class="phon">Hotel Id</i><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span th:text="${hotel?.id}"></span></li>-->
                <thead>
                <tr class="panel-heading">
                    <th><h3>Image</h3></th>
                    <th>
                        <i>
                            <i th:if="${isDesc}" class="glyphicon glyphicon-chevron-down"></i>
                            <i th:if="${!isDesc}" class="glyphicon glyphicon-chevron-up"></i>
                            <h3><a th:href="@{/hotels?sortBy=name&amp;isDesc=}+${isDesc}">Name</a></h3>
                        </i>
                    </th>
                    <th>
                        <h3>Address</h3>
                    </th>
                    <th>
                        <i>
                            <i th:if="${isDesc}" class="glyphicon glyphicon-chevron-down"></i>
                            <i th:if="${!isDesc}" class="glyphicon glyphicon-chevron-up"></i>
                            <h3><a th:href="@{/hotels?sortBy=phoneNumber&amp;isDesc=}+${isDesc}">Contact</a></h3>
                        </i>
                    </th>
                </tr>
                </thead>
                <tbody class="panel-body">
                <tr th:each="hotel : ${hotelList}">
                    <td>
                        <img style="margin-top: 20px;" height="100" width="100" th:src="@{/hotels/images/}+${hotel?.id}"
                             class="img-responsive zoom-img"
                             alt=""></img>
                    </td>
                    <td>
                        <i class="phon">
                            <h3>
                                <a th:href="@{/hotels/}+${hotel?.id}" th:text="${hotel?.name}"></a>
                            </h3>
                        </i><br/>
                        <h4 th:text="${hotel?.description}">info@moninfotech.com</h4>
                    </td>
                    <td>
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        <h5 th:text="${hotel?.address?.getCommaSeperatedString()}"></h5>
                    </td>
                    <td><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        <h4 th:text="${hotel?.phoneNumber}"></h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>