<div class="address wow fadeInDown animated" data-wow-delay=".5s" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="form" th:action="@{/search}" method="get">
                        <datalist id="places">
                            <option th:each="area : ${areaList}" th:value="${area}" th:text="${area}">Coxs Bazar</option>
                        </datalist>
                        <div class="from-group">
                            <label for="place" class="label label-primary">SEARCH</label>
                            <input style="height: 50px;" id="place" name="query" list="places" class="form-control"
                                   required="required" th:value="${query}"></input>
                        </div>
                        <button style="margin-top: 20px;" class="form-control btn btn-default" type="submit"><i style="margin-right: 10px;" class="glyphicon glyphicon-search"></i>Search</button>
                    </form>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Filter</h2>
                </div>
                <div class="panel-body">
                    <div>
                        <div>
                            <label for="starFilterDiv" class="label label-primary">BY STAR</label>
                            <div id="starFilterDiv" class="fadeInDown animated" data-wow-delay=".5s">
                                <form class="form" th:action="@{/hotels}" id="starFilterForm" method="get">
                                    <input th:if="${query}" name="query" type="hidden" th:value="${query}"></input>
                                    <input name="filterType" type="hidden" th:value="star"></input>
                                    <select class="col-md-12" name="filterValue" id="starFilter">
                                        <option th:value="1" th:selected="${filterValue?.equals('1')}">1 Star</option>
                                        <option th:value="2" th:selected="${filterValue?.equals('2')}">2 Star</option>
                                        <option th:value="3" th:selected="${filterValue?.equals('3')}">3 Star</option>
                                        <option th:value="4" th:selected="${filterValue?.equals('4')}">4 Star</option>
                                        <option th:value="5" th:selected="${filterValue?.equals('5')}">5 Star</option>
                                        <option th:value="6" th:selected="${filterValue?.equals('6')}">6 Star</option>
                                        <option th:value="7" th:selected="${filterValue?.equals('7')}">7 Star</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div style="margin-top: 50px;">
                            <label for="priceFilterDiv" class="label label-primary">BY PRICE</label>
                            <div id="priceFilterDiv" class="fadeInDown animated" data-wow-delay=".5s">
                                <form class="form" th:action="@{/hotels/}" id="priceFilterForm" method="get">
                                    <input th:if="${query}" name="query" type="hidden" th:value="${query}"></input>
                                    <input name="filterType" type="hidden" th:value="price"></input>
                                    <select class="col-md-12" name="filterValue" id="priceFilter">
                                        <option th:value="100x1000" th:selected="${filterValue?.equals('100x1000')}">
                                            100-1000
                                        </option>
                                        <option th:value="1000x10000"
                                                th:selected="${filterValue?.equals('1000x10000')}">
                                            1000-10000
                                        </option>
                                        <option th:value="10000x50000"
                                                th:selected="${filterValue?.equals('10000x50000')}">
                                            10000-50000
                                        </option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <table class="table table-hover table-striped panel panel-primary">
                <!--<li><i class="phon">Hotel Id</i><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span th:text="${hotel?.id}"></span></li>-->
                <thead>
                <tr class="panel-heading">
                    <th><h3>Image</h3></th>
                    <th>
                        <i>
                            <i th:if="${isDesc}" class="glyphicon glyphicon-chevron-down"></i>
                            <i th:if="${!isDesc}" class="glyphicon glyphicon-chevron-up"></i>
                            <h3><a th:href="@{/hotels?sortBy=name&amp;isDesc=}+${isDesc}">Name</a></h3>
                        </i>
                    </th>
                    <th>
                        <h3>Address</h3>
                    </th>
                    <th>
                        <i>
                            <i th:if="${isDesc}" class="glyphicon glyphicon-chevron-down"></i>
                            <i th:if="${!isDesc}" class="glyphicon glyphicon-chevron-up"></i>
                            <h3><a th:href="@{/hotels?sortBy=phoneNumber&amp;isDesc=}+${isDesc}">Contact</a></h3>
                        </i>
                    </th>
                </tr>
                </thead>
                <tbody class="panel-body">
                <tr th:each="hotel : ${hotelList}">
                    <td>
                        <img style="margin-top: 20px;" height="100" width="100" th:src="@{/hotels/images/}+${hotel?.id}"
                             class="img-responsive zoom-img"
                             alt=""></img>
                    </td>
                    <td>
                        <i class="phon">
                            <h3>
                                <a th:href="@{/hotels/}+${hotel?.id}" th:text="${hotel?.name}"></a>
                            </h3>
                        </i><br/>
                        <h4 th:text="${hotel?.description}">info@moninfotech.com</h4>
                    </td>
                    <td>
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        <h5 th:text="${hotel?.address?.getCommaSeperatedString()}"></h5>
                    </td>
                    <td><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        <h4 th:text="${hotel?.phoneNumber}"></h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    console.log("LOLOLOL");
    $("#starFilter").on("change", function (form) {
        $("#starFilterForm").submit();
    });
    $("#priceFilter").on("change", function (form) {
        $("#priceFilterForm").submit();
    });

</script>