<!--twitter-->
<div class="twitter">
    <div class="container">
        <div class="social-icons wow zoomIn animated" data-wow-delay=".5s">
            <ul>
                <li><a href="#"> </a></li>
            </ul>
        </div>
        <h4 class="wow fadeInUp animated" data-wow-delay=".7s">LATEST FROM TWITTER</h4>
        <p class="twit-text wow fadeInUp animated" data-wow-delay=".8s">Libero tempore cum soluta nobis est eligendi
            optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit
            quo minus id quod maxime placeat facere possimus.</p>
    </div>
</div>
<!--//twitter-->
