<!--modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-spa">
                <div class="booking-info">
                    <h3>Book Domestic &amp; International Vacation packages</h3>
                </div>
                <div class="booking-form">
                    <div class="reservation">
                        <ul>
                            <li class="span1_of_1 desti">
                                <h5>Flying from</h5>
                                <div class="book_date">
                                    <form>
                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                        <input type="text" placeholder="Type Departure City"
                                               class="typeahead1 input-md form-control tt-input"
                                               required="required"></input>
                                    </form>
                                </div>
                            </li>
                            <li class="span1_of_1 left desti">
                                <h5>Flying to</h5>
                                <div class="book_date">
                                    <form>
                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                        <input type="text" placeholder="Type Destination City"
                                               class="typeahead1 input-md form-control tt-input"
                                               required="required"></input>
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="reservation">
                        <ul>
                            <li class="span1_of_1">
                                <h5>Departure</h5>
                                <div class="book_date">
                                    <form>
                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        <input type="date" value="Select date" onfocus="this.value = '';"
                                               onblur="if (this.value == '') {this.value = 'Select date';}"></input>
                                    </form>
                                </div>
                            </li>
                            <li class="span1_of_1 left">
                                <h5>Return</h5>
                                <div class="book_date">
                                    <form>
                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        <input type="date" value="Select date" onfocus="this.value = '';"
                                               onblur="if (this.value == '') {this.value = 'Select date';}"></input>
                                    </form>
                                </div>
                            </li>
                            <li class="span1_of_2 left adult">
                                <h5>Adults (18+)</h5>
                                <!--start section-room-->
                                <div class="section_room">
                                    <select id="country" onchange="change_country(this.value)"
                                            class="frm-field required">
                                        <option value="null">1</option>
                                        <option value="null">2</option>
                                        <option value="AX">3</option>
                                        <option value="AX">4</option>
                                        <option value="AX">5</option>
                                        <option value="AX">6</option>
                                    </select>
                                </div>
                            </li>
                            <li class="span1_of_2 left children">
                                <h5>Children (0-17)</h5>
                                <!--start section-room-->
                                <div class="section_room">
                                    <select id="country" onchange="change_country(this.value)"
                                            class="frm-field required">
                                        <option value="null">1</option>
                                        <option value="null">2</option>
                                        <option value="AX">3</option>
                                        <option value="AX">4</option>
                                        <option value="AX">5</option>
                                        <option value="AX">6</option>
                                    </select>
                                </div>
                            </li>
                            <li class="span1_of_2 economy">
                                <h5>Class</h5>
                                <!--start section-room-->
                                <div class="section_room">
                                    <select id="country" onchange="change_country(this.value)"
                                            class="frm-field required">
                                        <option value="null">Economy</option>
                                        <option value="null">Business</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="reservation">
                        <ul>
                            <li class="span1_of_3">
                                <div class="date_btn">
                                    <form>
                                        <input type="submit" value="Submit"></input>
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--//modal-->