<div class="services" id="services">
    <div class="container">
        <h3 class="title wow fadeInDown animated" data-wow-delay=".5s">Services</h3>
        <div class="servc-grids">
            <div class="col-md-4 servc-grid wow fadeInUp animated" data-wow-delay=".5s">
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </li>
                    <li>
                        <h4>Cum soluta</h4>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <p>Itaque earum rerum hic tenetur a sapiente delectus
                    reiciendis maiores alias consequatur aut</p>
            </div>
            <div class="col-md-4 servc-grid wow fadeInUp animated" data-wow-delay=".7s">
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                    </li>
                    <li>
                        <h4>Nobis esgendi</h4>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <p>Itaque earum rerum hic tenetur a sapiente delectus
                    reiciendis maiores alias consequatur aut</p>
            </div>
            <div class="col-md-4 servc-grid wow fadeInUp animated" data-wow-delay=".9s">
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </li>
                    <li>
                        <h4>Est eligendi</h4>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <p>Itaque earum rerum hic tenetur a sapiente delectus
                    reiciendis maiores alias consequatur aut</p>
            </div>
            <div class="col-md-4 servc-grid servc-grid-btm wow fadeInUp animated" data-wow-delay=".5s">
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                    </li>
                    <li>
                        <h4>Soluta nobis</h4>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <p>Itaque earum rerum hic tenetur a sapiente delectus
                    reiciendis maiores alias consequatur aut</p>
            </div>
            <div class="col-md-4 servc-grid servc-grid-btm wow fadeInUp animated" data-wow-delay=".7s">
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                    </li>
                    <li>
                        <h4>Msoluta est</h4>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <p>Itaque earum rerum hic tenetur a sapiente delectus
                    reiciendis maiores alias consequatur aut</p>
            </div>
            <div class="col-md-4 servc-grid servc-grid-btm wow fadeInUp animated" data-wow-delay=".9s">
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                    </li>
                    <li>
                        <h4>Nobis estli</h4>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <p>Itaque earum rerum hic tenetur a sapiente delectus
                    reiciendis maiores alias consequatur aut</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>