<div class="skills">
    <div class="container">
        <h3 class="title wow fadeInDown animated" data-wow-delay=".5s">Our Features</h3>
        <div class="skills-info">
            <div class="col-md-6 bar-left bar_group">
                <div class="bar_group__bar thin" label="Best Price " value="150"></div>
                <div class="bar_group__bar thin" label="Enjoyment" value="250"></div>
                <div class="bar_group__bar thin" label="Trust And Safety" value="180"></div>
            </div>
            <div class="col-md-6 bar-right bar_group">
                <div class="bar_group__bar thin" label="Planning Tours" value="250"></div>
                <div class="bar_group__bar thin" label="Good Guidance" value="150"></div>
                <div class="bar_group__bar thin" label="Best Hotels" value="200"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>