<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>

<div>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hotel:${hotelList}">
            <td th:text="${hotel.name}"></td>
            <td th:text="${hotel.address}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>