<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head"></div>
</head>
<body>

<!--navigation-->
<div th:include="fragments/navigation"></div>

<!--MAIN_CONTENT HOTEL LIST-->
<div class="address wow fadeInDown animated" data-wow-delay=".5s" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
        <table class="table table-hover table-striped" th:width="400">
            <!--<li><i class="phon">Hotel Id</i><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span th:text="${hotel?.id}"></span></li>-->
            <thead>
            <tr>
                <th>Image</th>
                <th>Hotel Name</th>
                <th>Booking Date</th>
                <th>Contact Number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${bookingList != null}" th:each="booking : ${bookingList}">
                <td><img height="50" width="50" th:src="@{/hotels/images/} + ${booking?.hotel?.id}"></img></td>
                <td><h3 th:text="${booking?.hotel?.name}"></h3></td>
                <td>
                    <h5 th:text="${booking?.getReadableDate(booking?.startDate)}"></h5>-<span
                        th:text="${booking?.getReadableDate(booking?.endDate)}"></span>
                </td>
                <td><h4 th:text="${booking?.hotel?.phoneNumber}"></h4></td>
                <td>
                    <a class="btn btn-primary">Details</a>
                    <a class="btn btn-success">Write a review</a>
                </td>
                <td><a class="btn btn-warning">Cancel</a></td>

            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

<!--footer-->
<div th:include="fragments/footer"></div>
<!--//footer-->
<script th:src="@{/js/lightbox-plus-jquery.min.js}"></script>
<script th:src="@{/js/easyResponsiveTabs.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
<!--script-->
<!--responsive slider-->
<script th:src="@{/js/responsiveslides.min.js}"></script>
<!--//responsive slider-->
<!-- start-smooth-scrolling-->
<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.js}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!--//end-smooth-scrolling-->
<!--bar-js-->
<script th:src="@{/js/bars.js}"></script>
<!--bar-js-->
<!--animate-->
<script th:src="@{/js/wow.min.js}"></script>
<script>
    new WOW().init();
</script>
<!--//end-animate-->
<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
    $(document).ready(function () {

        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!--//smooth-scrolling-of-move-up-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.js}"></script>

<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 3
        $("#slider3").responsiveSlides({
            auto: true,
            pager: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
</body>
</html>