<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head"></div>
</head>
<body>

<!--navigation-->
<div th:include="fragments/navigation" style="margin-right: 25px;"></div>

<!--MAIN_CONTENT HOTEL LIST-->
<div class="address wow fadeInDown animated" data-wow-delay=".5s" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="col-sm-4 panel panel-primary">
            <div class="panel-heading">
                <h1 th:text="${booking?.hotel?.name}"></h1>
            </div>
            <div class="panel-body">
                <div>
                    <label for="startDate">
                        <kdb>Check In Date</kdb>
                    </label>
                    <h4 id="startDate"
                        th:text="${booking?.getReadableDate(booking?.startDate)}"></h4>
                </div>
                <br/>
                <div>
                    <label for="endDate">Check Out Date: </label>
                    <h4 id="endDate"
                        th:text="${booking?.getReadableDate(booking?.endDate)}"></h4>
                </div>
                <br/>
                <div>
                    <label for="address">Hotel Address</label>
                    <h4 id="address" th:text="${booking?.hotel?.address?.getCommaSeperatedString()}"></h4>
                </div>

            </div>
            <div class="panel-footer">
                <div>
                    <label for="description">Description</label>
                    <span id="description" th:text="${booking?.hotel?.description}"></span>
                </div>
                <br/>
                <div>
                    <label for="phoneNumber">Contact</label>
                    <h4 id="phoneNumber" th:text="${booking?.hotel?.phoneNumber}"></h4>
                </div>
                <br/>
                <div>
                    <label for="star">Star</label>
                    <h4 id="star" th:text="${booking?.hotel?.star}"></h4><h4> Star Hotel</h4>
                </div>
                <br/>
            </div>
        </div>
        <div class="col-sm-8">
            <table class="table table-hover table-striped panel panel-primary" th:width="400">
                <!--<li><i class="phon">Hotel Id</i><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span th:text="${hotel?.id}"></span></li>-->
                <thead class="panel-heading">
                <tr>
                    <th>Image</th>
                    <th>Room Number</th>
                    <th>Floor Number</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Discounted Price</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody class="panel-body">
                <tr th:if="${booking != null}" th:each="room : ${booking?.roomList}">
                    <td><img height="50" width="50" th:src="@{/rooms/} + ${room?.id} +@{/image/0}"></img></td>
                    <td><h3 th:text="${room?.roomNumber}"></h3></td>
                    <td><h4 th:text="${room?.floorNumber}"></h4></td>
                    <td><h4 th:text="${room?.price}"></h4></td>
                    <td><h4 th:text="${room?.discount}"></h4></td>
                    <td><h4 th:text="${room?.getDiscountedPrice()}"></h4></td>
                    <td><h4 th:text="${room?.category?.name}"></h4></td>
                </tr>
                </tbody>
                <tfoot class="panel-footer">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><h4>Total Cost</h4></td>
                    <td>
                        <h3 class="text-right text-danger" style="color: red;"
                            th:text="${booking?.getTotalCost()}"></h3>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><h4>Total Discount</h4></td>
                    <td>
                        <h3 class="text-right text-success" th:text="${booking?.getTotalDiscount()}"></h3>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><h4>Total Payable Cost</h4></td>
                    <td>
                        <h3 class="text-right text-primary" th:text="${booking?.getTotalPayableCost()}"></h3>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><h4>You saved</h4></td>
                    <td>
                        <h3 class="text-right text-info"
                            th:text="${booking?.getTotalDiscountPercentage()}"></h3>
                    </td>
                </tr>
                </tfoot>
            </table>
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-danger" th:href="@{/bookings}">Back to Booking List</a>
                    <a class="btn btn-success" th:href="@{/reviews/hotel/}+${booking?.hotel?.id}+@{/create}">Write a Review</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!--footer-->
<div th:include="fragments/footer"></div>
<!--//footer-->
<script th:src="@{/js/lightbox-plus-jquery.min.js}"></script>
<script th:src="@{/js/easyResponsiveTabs.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
<!--script-->
<!--responsive slider-->
<script th:src="@{/js/responsiveslides.min.js}"></script>
<!--//responsive slider-->
<!-- start-smooth-scrolling-->
<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.js}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!--//end-smooth-scrolling-->
<!--bar-js-->
<script th:src="@{/js/bars.js}"></script>
<!--bar-js-->
<!--animate-->
<script th:src="@{/js/wow.min.js}"></script>
<script>
    new WOW().init();
</script>
<!--//end-animate-->
<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
    $(document).ready(function () {

        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!--//smooth-scrolling-of-move-up-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.js}"></script>

<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 3
        $("#slider3").responsiveSlides({
            auto: true,
            pager: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
</body>
</html>