<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotelswave.com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css" media="all">
    <!-- //for-mobile-apps -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- styles-CSS -->
    <link th:href="@{/css/service.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/myStyle.css}" rel="stylesheet" type="text/css" media="all"/>

    <!--font-size-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>


    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <link rel="icon" type="image/png" th:href="@{/images/fav.ico}">

    <script th:src="@{/js/bootstrap.js}"></script>
    <script>
        // $(window).load(function(){
        //   $("#header").sticky({ topSpacing: 10 });
        // });
    </script>
    <!-- scrolling script -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });


    </script>
    <style>
        /*body {
          height: 10000px;
          padding: 0;
          margin: 0;
        }*/
        .header {
            position: relative;
            z-index: 2;
            font-size: 15px;
            background-color: #cee7e7;
            color: #000;
            width: 100%;
            padding: 0;
            letter-spacing: 1px;
            font-family: "Segoe UI", Arial, sans-serif;
        }

        /*nav.navbar-default.stickytop {*/
        div.header.stickytop {
            position: fixed;
            z-index: 2;
            top: 0;
            width: 100%;
            font-size: 15px;
            background-color: #cee7e7;
            color: #000;
            padding: 0;
            letter-spacing: 1px;
            font-family: "Segoe UI", Arial, sans-serif;
        }
    </style>
</head>
<body>


<!-- TOP HEADER -->
<div class="top" id="topMenu">
    <div class="container">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <ul>
                <div>
                    <a th:href="@{/}">
                        <img height="80" width="200" title="" alt="" draggable="false" src="images/logo.png">
                    </a>
                </div>
                <!--<div class="col-xs-6 companyTitle">-->
                <!--<li>-->
                <!--<a th:href="@{/}">HotelsWave</a>-->
                <!--</li>-->
                <!--</div>-->


                <!-- <li><i class="fa fa-phone" aria-hidden="true"></i> +055 3175 6666 <br/> +055 3175 6666</li> -->
            </ul>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                <p class="moto-text_normal" style="margin-top: 20px;float: right; text-align: right; font-size: ">
                    Book online or call <br/>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <a target="_self" data-action="url" class="moto-link" href="callto:#">01840477707,</a>
                    <a target="_self" data-action="url" class="moto-link" href="callto:#">01840477759</a>
                </p>
                <!--<p class="moto-text_normal">-->
                    <!--<i class="fa fa-map-marker" aria-hidden="true"></i>-->
                    <!--&lt;!&ndash;<a target="_self" data-action="url" class="moto-link" href="callto:#">&ndash;&gt;-->
                    <!--<span class="moto-link">-->
                        <!--32/1, Khan Plaza ( 3rd floor), Science Lab,<br/>-->
                        <!--&nbsp;&nbsp; Mirpur Road, Dhanmondi, Dhaka- 1205-->
                    <!--</span>-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--</p>-->
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //TOP HEADER -->
<!-- <p>This is test this is text this is text at the top.</p> -->


<div class="header">
    <div class="container">
        <nav class="navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <h1><a class="navbar-brand" href="index.html">Hotel</a></h1> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div th:if="${param.message!=null}" class="col-sm-12">
                <h4 th:text="${param.message[0]}" style="padding-left: 20px;color: red; background: black;"></h4>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">

                <nav class="cl-effect-13" id="cl-effect-13">
                    <ul class="nav navbar-nav">
                        <li class="active"><a data-toggle="collapse" data-target=".navbar-collapse" href="#whyUs">Why us</a></li>
                        <li class="dropdown">
                            <a th:href="@{/hotels}" class="dropdown-toggle" data-toggle="dropdown">Hotels<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li><a th:href="@{/hotels?type=Hotel}">All Hotels</a></li>
                                <li><a th:href="@{/hotels?query=Cox}">Cox’s Bazar</a></li>
                                <li><a th:href="@{/hotels?query=Martin}">Saint Martin</a></li>
                                <li><a th:href="@{/hotels?query=Bandarban}">Bandarban</a></li>
                                <li><a th:href="@{/hotels?query=Rangamati}">Rangamati</a></li>
                                <li><a th:href="@{/hotels?query=Khagra}">Khagrachari</a></li>
                                <li><a th:href="@{/hotels?query=Sylhet}">Sylhet</a></li>
                                <li><a th:href="@{/hotels?query=Srimangal}">Srimangal</a></li>
                                <li><a th:href="@{/hotels?query=Khulna}">Khulna</a></li>
                            </ul>
                        </li>
                        <!--<li class="active"><a th:href="@{/hotels}">Hotels</a></li>-->
                        <li class="dropdown">
                            <a th:href="@{/ships}" class="dropdown-toggle" data-toggle="dropdown">Ships<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li><a th:href="@{/ships?type=Ship}">All Ships</a></li>
                                <li><a th:href="@{/ships?query=Keari Sindbad}">Keari Sindbad</a></li>
                                <li><a th:href="@{/ships?query=Keari Cruise}">Keari Cruise &amp; Dine</a></li>
                                <li><a th:href="@{/ships?query=Kutubdia}">L.C.T. Kutubdia</a></li>
                                <li><a th:href="@{/ships?query=Bangali}">M.V. Bangali</a></li>
                                <li><a th:href="@{/ships?query=Bay Cruiser}">M.V. Bay Cruiser-1</a></li>
                            </ul>
                        </li>
                        <li class="active"><a data-toggle="collapse" data-target=".navbar-collapse" href="#packages">Holidays</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Services<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li><a href="https://www.facebook.com/groups/intelligenttouristaid">Conference
                                    & Events</a></li>
                                <li><a href="https://www.facebook.com/groups/intelligenttouristaid">Car &
                                    Bus</a></li>
                                <li><a href="https://www.facebook.com/groups/intelligenttouristaid">Group Booking</a>
                                </li>
                            </ul>
                        </li>

                        <li><a data-toggle="collapse" data-target=".navbar-collapse"     th:href="@{/feedback}">Customer Service</a></li>
                        <li class="dropdown" sec:authorize="!isAuthenticated()">
                            <a th:href="@{/login}">Sign in &amp; Accounts</a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
                                <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Registration</a></li>
                            </ul>
                        </li>

                        <!--<li sec:authorize="hasRole('ROLE_HOTEL_ADMIN')"><a th:href="@{/hotel/rooms}">My-->
                        <!--Hotel</a></li>-->
                        <!--<li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/bookings}">My Bookings</a></li>-->
                        <!--<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/dashboard}">Admin Dashboard</a>-->
                        <!--</li>-->
                        <li sec:authorize="isAuthenticated()" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                               sec:authentication="principal.name"><b class="caret"></b></a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </nav>
                <!-- <div class="search">
                  <form action="#" method="post">
                    <input type="search" class="search1" placeholder="Search..." name="Search" required="">
                    <input type="submit" value="">
                  </form>
                </div> -->
            </div>
        </nav>
    </div>
</div>

<!-- end menu bar -->

<!-- Welcome page -->
<div class="tm_pb_section  tm_pb_section_2 tm_pb_with_background tm_section_regular tm_pb_section_sticky">

    <div class="container">
        <div class="row welcomeRow">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <div class="row">
                    <div class="container">
                        <div class="row row-edge row-style-light">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h2 class="dash dark text-uppercase">Why Us</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="welcomeText" style="padding-top: 50px;">

                    <p>
                        Hotelswave.com is the largest and easiest complete online hotel booking
                        website. It runs with the slogan of &quot;Easy Booking&quot;. You can book your desired
                        rooms yourself by analyzing price &amp; facilities with available date from various
                        hotels of an area.<br/>

                    </p>
                    <p>
                        Lets have a look why <a href="www.hotelswave.com"><b> hotelswave.com </b></a>is different
                    </p>
                    <ul  style="list-style: none;">
                        <li> Showing desired rooms’ availability on any particular date.</li>
                        <li> Price updates of different rooms on different dates.</li>
                        <li> Easy payment system through Bkash, Rocket, Credit/Debit Card or Cash.</li>
                        <li> Exclusive discount on group booking.</li>
                        <li> Providing instant booking confirmation copy on payment.</li>
                        <li> Decide by comparing guest reviews &amp; facilities among hundreds of hotels.</li>
                        <li> Pointing hotels location on Google map.</li>
                        <li> Indicating Hotel’s distance from important spots.</li>
                        <li> Android apps.</li>
                        <li> Applying no extra charge or hidden cost.</li>
                        <li> Availability of related tour packages.</li>
                        <li> Ship ticketing for Saint Martin’s Island.</li>
                        <li> Customer service.</li>
                    </ul>
                    <!--<div class="panel-heading">-->
                        <!--<div class="h1-style tm_pb_title__title" style="font-size: 30px; text-align: center">-->
                            <!--Why <a href="www.hotelswave.com"><b> hotelswave.com </b></a>is different-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<table class="table whyHotelsWeb">-->
                            <!--<tr>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Showing desired rooms’ availability on any particular date.-->
                                <!--</td>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Price updates of different rooms on different dates.-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Easy payment system through Bkash, Rocket, Credit/Debit Card or Cash.-->
                                <!--</td>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Exclusive discount on group booking.-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Providing instant booking confirmation copy on payment.-->
                                <!--</td>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Decide by comparing guest reviews &amp; facilities among hundreds of hotels.-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Pointing hotels location on Google map.-->
                                <!--</td>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Indicating Hotel’s distance from important spots.-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Android apps.-->
                                <!--</td>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Applying no extra charge or hidden cost.-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Availability of related tour packages.-->
                                <!--</td>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Ship ticketing for Saint Martin’s Island.-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td><i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                                    <!--Customer service.-->
                                <!--</td>-->
                                <!--<td></td>-->
                            <!--</tr>-->

                        <!--</table>-->

                    <!--</div>-->
                    <p>
                        For standard quality service in case of hotel booking, you can always choose
                        Hotelswave.com.
                        Please go through our website and <a href="https://www.facebook.com/hotelswave">facebook
                        page</a> for details
                    </p>
                </div>
                <!-- .tm_pb_text -->
            </div>
            <!-- .tm_pb_column -->

        </div>
        <!-- .tm_pb_row -->
    </div>

</div>
<!-- end Welcome page -->




<!-- footer -->
<div class="footer ">
    <div class="container">
        <div class="col-md-4 footer-left">
            <h3>EXPLORE</h3>
            <li><a href="#whyUs">Why us</a></li>
            <li><a th:href="@{/hotels?type=Hotel}">Hotels</a></li>
            <li><a th:href="@{/hotels?type=Ship}">Ships</a></li>
            <li><a href="#packages">Packages</a></li>

        </div>
        <div class="col-md-4 footer-left">
            <h3></h3><br/>
            <li><a href="#">Events</a></li>
            <li><a href="#">Rent a car</a></li>
            <li><a href="#">Group Booking</a></li>
            <li><a th:href="@{/feedback}">Feedback</a></li>
            <li><a th:href="@{/login}">Sign in &amp; Accounts</a></li>
        </div>

        <div class="col-md-4 footer-left">
            <h3>OUR LOCATION</h3>
            <li><i class="fa fa-map-marker fa-lg"></i></i> &nbsp; &nbsp; 32/1, Khan Plaza ( 3rd floor), Science Lab,<br/>
                &nbsp; &nbsp; &nbsp; &nbsp;Mirpur Road, Dhanmondi, Dhaka- 1205
            </li>
            <li><i class="fa fa-phone fa-lg"></i> &nbsp; &nbsp;01840477707, 01840477759</li>
            <li><i class="fa fa-envelope fa-lg"></i><a href="mailto:hotelswave@gmail.com">&nbsp;&nbsp; hotelswave@gmail.com</a></li>
        </div>
        <div class="col-md-12 footerName">
            <h5>
                <p style="font-size: 12px;">
                    Copyrights © 2017 Hotelswave.com all rights reserved <br/>
                </p>
            </h5>
        </div>
    </div>
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover"></span><span id="toTopHover"
                                                                                      style="opacity: 0;"></span> <span
            id="toTopHover" style="opacity: 0;"> </span></a>
</div>
<!-- end footer -->
<script type="text/javascript" th:src="@{/js/easyResponsiveTabs.js}"></script>
<script>
    $(function () {
        var clientHeight = document.getElementById('topMenu').clientHeight;

        $(window).scroll(function () {
            if ($(this).scrollTop() >= clientHeight) {
                // $('nav.navbar-default').addClass('stickytop');
                $("#first-pic-and-option").css( { marginTop : "50px" } );
                $('div.header').addClass('stickytop');
            }
            else {
                // $('nav.navbar-default').removeClass('stickytop');
                $("#first-pic-and-option").css( { marginTop : "0" } );
                $('div.header').removeClass('stickytop');
            }
        });
    });

</script>
<script>
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });

//        $(".dropdown").hover(
//            function () {
//                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
//                $(this).toggleClass('open');
//            },
//            function () {
//                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
//                $(this).toggleClass('open');
//            }
//        );
    });
</script>

</body>
</html>