<section class="content">

    <div class="row">
        <div class="col-md-3">
            <!-- Donut chart -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">Search</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div>
                        <form class="form" th:action="@{/search}" method="get">
                            <datalist id="places">
                                <option th:each="area : ${areaList}" th:value="${area}" th:text="${area}">Coxs Bazar
                                </option>
                            </datalist>
                            <div class="from-group">
                                <label for="place" class="label label-primary">SEARCH</label>
                                <input style="height: 50px;" id="place" name="query" list="places" class="form-control"
                                       required="required" th:value="${query}"></input>
                            </div>
                            <button style="margin-top: 20px;" class="form-control btn btn-default" type="submit"><i
                                    style="margin-right: 10px;" class="glyphicon glyphicon-search"></i>Search
                            </button>
                        </form>
                    </div>
                    <div>
                        <h2>Filter</h2>
                    </div>
                    <div>
                        <!--Star Filter-->
                        <div>
                            <label for="starFilterDiv" class="label label-primary">BY STAR</label>
                            <div id="starFilterDiv" class="fadeInDown animated" data-wow-delay=".5s">
                                <form class="form" th:action="@{/hotels}" id="starFilterForm" method="get">
                                    <input th:if="${query}" name="query" type="hidden" th:value="${query}"></input>
                                    <input name="filterType" type="hidden" th:value="star"></input>
                                    <select class="form-control" name="filterValue" id="starFilter">
                                        <option th:value="1" th:selected="${filterValue?.equals('1')}">1 Star
                                        </option>
                                        <option th:value="2" th:selected="${filterValue?.equals('2')}">2 Star
                                        </option>
                                        <option th:value="3" th:selected="${filterValue?.equals('3')}">3 Star Standard
                                        </option>
                                        <option th:value="4" th:selected="${filterValue?.equals('4')}">4 Star
                                        </option>
                                        <option th:value="5" th:selected="${filterValue?.equals('5')}">5 Star
                                        </option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <!--Price Filter-->
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <label for="priceFilterDiv" class="label label-primary">BY PRICE</label>
                            <div id="priceFilterDiv" class="fadeInDown animated" data-wow-delay=".5s">
                                <form class="form" th:action="@{/hotels/}" id="priceFilterForm" method="get">
                                    <input th:if="${query}" name="query" type="hidden" th:value="${query}"></input>
                                    <input name="filterType" type="hidden" th:value="price"></input>
                                    <select class="form-control" name="filterValue" id="priceFilter">
                                        <option th:value="500x1500"
                                                th:selected="${filterValue?.equals('500x1500')}">
                                            500-1500
                                        </option>
                                        <option th:value="1501x2500"
                                                th:selected="${filterValue?.equals('1501x2500')}">
                                            1501-2500
                                        </option>
                                        <option th:value="2501x4000"
                                                th:selected="${filterValue?.equals('2501x4000')}">
                                            2501-4000
                                        </option>
                                        <option th:value="4001x500000"
                                                th:selected="${filterValue?.equals('4001x500000')}">
                                            4001- Above
                                        </option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <!--Rating Filter-->
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <label for="priceFilterDiv" class="label label-primary">BY RATING</label>
                            <div id="ratingFilterDiv" class="fadeInDown animated" data-wow-delay=".5s">
                                <form class="form" th:action="@{/hotels/}" id="ratingFilterForm" method="get">
                                    <input th:if="${query}" name="query" type="hidden" th:value="${query}"></input>
                                    <input name="filterType" type="hidden" th:value="rating"></input>
                                    <div class="row lead">
                                        <div style="margin-left: 20px;" id="stars" class="starrr"></div>
                                        <span hidden="hidden"><span id="count">0</span></span>
                                    </div>
                                    <input type="hidden" id="ratingCount" name="filterValue"></input>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.box-body-->
            </div>
            <!-- /.box -->
        </div>

        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">Hotels</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-hover table-striped">
                        <!--<li><i class="phon">Hotel Id</i><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span th:text="${hotel?.id}"></span></li>-->
                        <thead>
                        <tr>
                            <th><h3>Image</h3></th>
                            <th>
                                <i>
                                    <i th:if="${isDesc}" class="glyphicon glyphicon-chevron-down"></i>
                                    <i th:if="${!isDesc}" class="glyphicon glyphicon-chevron-up"></i>
                                    <h3><a th:href="@{/hotels?sortBy=name&amp;isDesc=}+${isDesc}">Name</a></h3>
                                </i>
                            </th>
                            <th>
                                <h3>Address</h3>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="hotel : ${hotelList}">
                            <td>
                                <img style="margin-top: 20px;" height="100" width="100"
                                     th:src="@{/hotels/images/}+${hotel?.id}"
                                     class="img-responsive zoom-img"
                                     alt=""></img>
                            </td>
                            <td>
                                <i class="phon">
                                    <h3>
                                        <a th:href="@{/hotels/}+${hotel?.id}" th:text="${hotel?.name}"></a>
                                    </h3>
                                </i>
                                <h4><kbd th:text="${hotel?.type}"></kbd></h4>
                                <h4 th:text="${hotel?.description}">info@moninfotech.com</h4>
                            </td>
                            <td>
                                <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                                <h5 th:text="${hotel?.address?.getCommaSeperatedString()}"></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- /.box -->
        </div>
    </div>

</section>

