<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="adminlte/index">

<div layout:fragment="main_content">


    <section class="content-header">
        <h1>
            <span th:if="${'Hotel'.equals(hotelType)}">Hotels</span>
            <span th:if="${'Ship'.equals(hotelType)}">Ships</span>
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Hotels</li>
        </ol>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-md-3">
                <!-- Donut chart -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-search"></i>

                        <h3 class="box-title">Search</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div>
                            <form class="form" th:action="@{/search}" method="get">
                                <datalist id="places">
                                    <option th:each="area : ${areaList}" th:value="${area}" th:text="${area}">Coxs Bazar
                                    </option>
                                </datalist>
                                <div class="from-group">
                                    <label for="place" class="label label-primary">SEARCH</label>
                                    <input style="height: 50px;" id="place" name="query" list="places"
                                           class="form-control"
                                           required="required" th:value="${query}"></input>
                                </div>
                                <button style="margin-top: 20px;" class="form-control btn btn-default" type="submit"><i
                                        style="margin-right: 10px;" class="glyphicon glyphicon-search"></i>Search
                                </button>
                            </form>
                        </div>
                    </div>

                </div>


                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-filter"></i>

                        <h3 class="box-title">Filter</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div>
                            <!--Star Filter-->
                            <div th:if="${hotelType!=null and hotelType.equals('Hotel')}">
                                <label for="starFilterDiv" class="label label-primary">BY STAR</label>
                                <div id="starFilterDiv" class="fadeInDown animated" data-wow-delay=".5s">
                                    <form class="form" th:action="@{/hotels}" id="starFilterForm" method="get">
                                        <input th:if="${query}" name="query" type="hidden" th:value="${query}"></input>
                                        <input th:if="${hotelType}" name="type" type="hidden"
                                               th:value="${hotelType}"></input>
                                        <input name="filterType" type="hidden" th:value="star"></input>
                                        <select class="form-control" name="filterValue" id="starFilter">
                                            <option value="">All
                                            </option>
                                            <option value="1 star" th:selected="${filterValue?.equals('1 star')}">1 Star
                                            </option>
                                            <option value="2 star" th:selected="${filterValue?.equals('2 star')}">2 Star
                                            </option>
                                            <option value="3 star standard"
                                                    th:selected="${filterValue?.equals('3 star standard')}">3 Star
                                                Standard
                                            </option>
                                            <option value="3 star" th:selected="${filterValue?.equals('3 star')}">3 Star
                                            </option>
                                            <option value="4 star" th:selected="${filterValue?.equals('4 star')}">4 Star
                                            </option>
                                            <option value="5 star" th:selected="${filterValue?.equals('5 star')}">5 Star
                                            </option>
                                            <option value="resort" th:selected="${filterValue?.equals('resort')}">Resort
                                            </option>
                                            <option value="beach resort"
                                                    th:selected="${filterValue?.equals('beach resort')}">Beach Resort
                                            </option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div th:if="${hotelType!=null and hotelType.equals('Ship')}">
                                <label for="starFilterDiv" class="label label-primary">BY SHIP</label>
                                <div id="starFilterDiv" class="fadeInDown animated" data-wow-delay=".5s">
                                    <form class="form" th:action="@{/hotels}" id="starFilterForm" method="get">
                                        <input th:if="${query}" name="query" type="hidden" th:value="${query}"></input>
                                        <input th:if="${hotelType}" name="type" type="hidden"
                                               th:value="${hotelType}"></input>
                                        <input name="filterType" type="hidden" value="ac"></input>
                                        <select class="form-control" name="filterValue" id="starFilter">
                                            <option value="ac" th:selected="${filterValue?.equals('ac')}">AC
                                            </option>
                                            <option value="nonac" th:selected="${filterValue?.equals('nonac')}">NON AC
                                            </option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <!--Price Filter-->
                            <div style="margin-top: 10px;margin-bottom: 10px;">
                                <label for="priceFilterDiv" class="label label-primary">BY PRICE</label>
                                <div id="priceFilterDiv" class="fadeInDown animated" data-wow-delay=".5s">
                                    <form class="form" th:action="@{/hotels/}" id="priceFilterForm" method="get">
                                        <input th:if="${query}" name="query" type="hidden" th:value="${query}"></input>
                                        <input th:if="${hotelType}" name="type" type="hidden"
                                               th:value="${hotelType}"></input>
                                        <input name="filterType" type="hidden" th:value="price"></input>
                                        <select class="form-control" name="filterValue" id="priceFilter">
                                            <option th:value="1x1000000">
                                                All
                                            </option>
                                            <option th:value="500x800"
                                                    th:selected="${filterValue?.equals('500x800')}">
                                                500-800
                                            </option>
                                            <option th:value="900x1500"
                                                    th:selected="${filterValue?.equals('900x1500')}">
                                                900-1500
                                            </option>
                                            <option th:value="1600x1000000"
                                                    th:selected="${filterValue?.equals('1600x1000000')}">
                                                1600-Above
                                            </option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <!--Rating Filter-->
                            <div style="margin-top: 10px;margin-bottom: 10px;">
                                <label for="priceFilterDiv" class="label label-primary">GUEST RATING</label>
                                <div id="ratingFilterDiv" class="fadeInDown animated" data-wow-delay=".5s">
                                    <form class="form" th:action="@{/hotels/}" id="ratingFilterForm" method="get">
                                        <input th:if="${query}" name="query" type="hidden" th:value="${query}"></input>
                                        <input th:if="${hotelType}" name="type" type="hidden"
                                               th:value="${hotelType}"></input>
                                        <input name="filterType" type="hidden" th:value="rating"></input>
                                        <div class="row lead">
                                            <div style="margin-left: 20px;" id="stars" class="starrr"></div>
                                            <span hidden="hidden"><span id="count">0</span></span>
                                        </div>
                                        <input type="hidden" id="ratingCount" name="filterValue"></input>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.box-body-->
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title" th:if="${'Hotel'.equals(hotelType)}">Hotels</h3>
                        <h3 class="box-title" th:if="${'Ship'.equals(hotelType)}">Ships</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row" th:each="hotel : ${hotelList}"
                             style="margin: 10px -10px; background: #fff8f8;">
                            <div class="col-md-3">
                                <img th:src="@{/hotels/}+${hotel?.id}+@{/image/0}+@{/?height=200&width=300}" alt=""
                                     style="width: 100%;"/>
                                <img th:src="@{/hotels/}+${hotel?.id}+@{/image/1}+@{/?height=100&width=150}" alt=""
                                     style="width: 49%; margin-top: 5px;"/>
                                <img th:src="@{/hotels/}+${hotel?.id}+@{/image/2}+@{/?height=100&width=150}" alt=""
                                     style="width: 49%;  margin-top: 5px; float: right;"/>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div>
                                            <span th:text="${hotel?.name?.trim()}"
                                                  style="font-size: 25px; font-weight: 600; color: #0f74a8;"></span>
                                            <br>
                                            <span th:text="${hotel?.capitalizeFirstLetter(hotel?.star)}"
                                                  style="font-size: 20px;"></span> <br>
                                            <span th:text="${hotel?.description}"
                                                  style="font-size: 16px; font-weight: 200;"></span>
                                        </div>
                                        <div style="margin: 10px 0;">
                                            <span th:if="${hotel?.facilities?.frontDesk}">
                                                <img th:src="@{/images/svgs/frontDesk.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.roomService}">
                                                <img th:src="@{/images/svgs/roomService.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.electricity}">
                                                <img th:src="@{/images/svgs/electricity.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.security}">
                                                <img th:src="@{/images/svgs/security.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.acceptCreditCard}">
                                                <img th:src="@{/images/svgs/acceptCreditCard.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.complementaryBreakfast}">
                                                <img th:src="@{/images/svgs/complementaryBreakfast.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.restaurant}">
                                                <img th:src="@{/images/svgs/restaurant.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.coffeeShop}">
                                                <img th:src="@{/images/svgs/coffeeShop.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.ac}">
                                                <img th:src="@{/images/svgs/ac.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.lift}">
                                                <img th:src="@{/images/svgs/elevator.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.wifi}">
                                                <img th:src="@{/images/svgs/wifi.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.freeParking}">
                                                <img th:src="@{/images/svgs/freeParking.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.newspaper}">
                                                <img th:src="@{/images/svgs/newspaper.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.swimingPool}">
                                                <img th:src="@{/images/svgs/swimingPool.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.laundry}">
                                                <img th:src="@{/images/svgs/laundry.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.lobby}">
                                                <img th:src="@{/images/svgs/lobby.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.sportsZone}">
                                                <img th:src="@{/images/svgs/sportsZone.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.gym}">
                                                <img th:src="@{/images/svgs/gym.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.spa}">
                                                <img th:src="@{/images/svgs/spa.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.bar}">
                                                <img th:src="@{/images/svgs/bar.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.helipad}">
                                                <img th:src="@{/images/svgs/helipad.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.vipFloor}">
                                                <img th:src="@{/images/svgs/vipFloor.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.foreignExchange}">
                                                <img th:src="@{/images/svgs/foreignExchange.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.airportTransportation}">
                                                <img th:src="@{/images/svgs/airportTransportation.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.conferenceRoom}">
                                                <img th:src="@{/images/svgs/conferenceRoom.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.businessCenter}">
                                                <img th:src="@{/images/svgs/businessCenter.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.meetingRoom}">
                                                <img th:src="@{/images/svgs/meetingRoom.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.executiveLaunge}">
                                                <img th:src="@{/images/svgs/executiveLaunge.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.babySitting}">
                                                <img th:src="@{/images/svgs/babySitting.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.doctorOnCall}">
                                                <img th:src="@{/images/svgs/doctorOnCall.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.wakeupService}">
                                                <img th:src="@{/images/svgs/wakeupService.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.wheelChairAccessible}">
                                                <img th:src="@{/images/svgs/wheelChairAccessible.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.safeDepositBox}">
                                                <img th:src="@{/images/svgs/safeDepositBox.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                            <span th:if="${hotel?.facilities?.nonSmokingRoom}">
                                                <img th:src="@{/images/svgs/nonSmokingRoom.svg}" alt=""
                                                     class="hotel-facilities-icons"/>
                                            </span>
                                        </div>
                                        <div style="margin: 10px 0;">
                                            <span style="font-weight: 600; font-size: 20px;">Address </span> <br>
                                            <span th:text="${hotel?.address?.getCommaSeperatedString()}"
                                                  style="font-size: 16px;"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <span style="font-size: 30px; font-weight: 500;">Excelent</span><br>
                                                <span style="font-size: 20px; font-weight: 200; text-align: center;">15 review</span>
                                            </div>
                                            <div class="col-xs-5">
                                                <span style="font-size: 50px; font-weight: 600; background: darkolivegreen; color: white; padding: 5px 10px;">7.9</span>
                                            </div>
                                        </div>
                                        <div class="row" style="text-align: right;">
                                            <div class="col-xs-12" style="font-size: 30px; margin: 20px 0;">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                        <div style="text-align: right;">
                                            <span style="font-size: 20px;">Starts from</span><br>
                                            <span style="font-size: 30px;">BDT1200</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-weight: 600; font-size: 20px; color: blue;">Compare Price </span>
                                            <br>
                                        </div>
                                        <div class="col-xs-2">
                                            <img th:src="@{/images/booking.com.png}" alt=""
                                                 class="hotel-compare-image"/>
                                        </div>
                                        <div class="col-xs-2">
                                            <img th:src="@{/images/hotels.com.png}" alt="" class="hotel-compare-image"/>
                                        </div>
                                        <div class="col-xs-2">
                                            <img th:src="@{/images/agoda.com.png}" alt="" class="hotel-compare-image"/>
                                        </div>
                                        <div class="col-xs-3">
                                            <img th:src="@{/images/expedia.com.jpg}" alt=""
                                                 class="hotel-compare-image"/>
                                        </div>
                                        <div class="col-xs-3">
                                            <a class="btn btn-success btn-block" th:href="@{/hotels/}+${hotel?.id}"
                                               th:text="@{See room availability}"></a>
                                            <!--<button class="btn btn-success btn-block">See room availability</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <ul class="pager pull-right" style="margin-right: 10px;" th:if="${query==null}">
                            <li class="previous"><a th:hidden="${page==0}"
                                                    th:href="@{/hotels(page=${page-1},type=${hotelType})}">Previous</a>
                            </li>
                            <li class="next"><a
                                    th:hidden="${hotelList == null || hotelList.isEmpty()}"
                                    th:href="@{/hotels(page=${page+1},type=${hotelType})}">Next</a>
                            </li>
                        </ul>
                        <ul class="pager pull-right" style="margin-right: 10px;" th:if="${query!=null}">
                            <li class="previous"><a th:hidden="${page==0}"
                                                    th:href="@{/search(page=${page-1},query=${query})}">Previous</a>
                            </li>
                            <li class="next"><a
                                    th:hidden="${hotelList == null || hotelList.isEmpty()}"
                                    th:href="@{/search(page=${page+1},query=${query})}">Next</a>
                            </li>
                        </ul>
                    </div>

                    <!-- /.box -->
                </div>
            </div>

    </section>

